# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=
TFR_EMAIL_FROM=The Front Row <hello@thefrontrow.vegas>
TFR_EMAIL_TO=hello@thefrontrow.vegas
